/* CSS перемены */
:root {
  --primary-text-color: #212121;
  --text-color: #757575;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --blake-color: #000000;
  --border-lab-color: #afb1b8;
  --icon-bg-color: #f5f4fa;
  --footer-bg-color: #2f303a;
  --shadow-bg-color: rgba(47, 48, 58, 0.8);
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
  --property-color: rgba(255, 255, 255, 0.4);
}

/* Общие настройки */
.page {
  color: var(--primary-text-color);
  background-color: var(--white-color);
}

/* Утелиты */
.list {
  list-style: none;
}

/* Хедер */
.logo {
  color: var(--blake-color);
}

.logo-color {
  color: var(--accent-color);
}

.sait-nav .link {
  color: var(--primary-text-color);
}

.sait-nav .link:hover,
.sait-nav .link:focus {
  color: var(--accent-color);
}

.sait-nav .link.current {
  color: var(--accent-color);
}

.auth-nav {
  color: var(--text-color);
}

.auth-nav .email:hover,
.auth-nav .email:focus {
  color: var(--accent-color);
}

.auth-nav .phone:hover,
.auth-nav .phone:focus {
  color: var(--accent-color);
}

/* Уникальний контент index.html */

/* Hero */
.hero-title {
  color: var(--white-color);
}

.hero-link {
  color: var(--white-color);
}

.hero-link:hover,
.hero-link:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
}

/* Section #2 */
.section-title {
  color: var(--primary-text-color);
}

.benefits-item .text {
  color: var(--text-color);
}

/* Section #3 */
.examples-item .title {
  color: var(--white-color);
}

/* Section #4 */
.team-items .position {
  color: var(--text-color);
}

/* Section #5 */

/* Footer */
.directions {
  color: var(--footer-contacts-color);
}

.directions .addresss {
  color: var(--white-color);
}

.socials .title {
  color: var(--white-color);
}

.active .title {
  color: var(--white-color);
}

.button-title {
  color: var(--white-color);
}

.button:hover,
.button:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
}

.property {
  color: var(--property-color);
}

/* Уникальний контент portfolio.html */
